body{
    font-family: 'Italianno', cursive;
    padding: 0;
    margin: 0;

}
html{
    scroll-behavior: smooth;
}

#image-back{
    padding-top: 60px;
    background: url("https://pix10.agoda.net/hotelImages/127/1275241/1275241_16081916490045632665.jpg?s=1024x768") no-repeat  fixed  50%  50%;
    background-size: cover;
    height: 800px;
}
h1{
    font-family:'Fruktur', cursive;
    text-align: center;
    font-size: 4em;
    color: blanchedalmond;
    margin-top: 40px;
    text-shadow: 2px 2px 2px black ;
}
#ligne{
    width: 20%;
    margin: 60px auto;
    color: rgb(255, 255, 255);
    height: 4px;
    box-shadow: 6px 6px 6px black ;

}
h4{
    text-align: center;
    color: blanchedalmond;
    position: relative;
    font-family:'Fruktur', cursive;
    top: 10px;
    text-shadow: 2px 2px 2px black ;

}
.part1{
    background-color: rgb(247, 224, 195);
    padding: 10px 0px 100px 0px;
}
#content{
    padding: 0px  8%;
}
#fix{
    position: fixed;
    width: 100%;
}
.dkhla{
    text-transform: uppercase;
    font-family:'Zen Kurenaido', sans-serif;
    text-align: center;
    font-size: 30px;
    text-shadow: 1px 1px 1px rgb(190, 189, 189) ;

}
.reservation{
    margin-top: 10px;
    margin-left: 28%;
    width: 500px;
    padding: 0;
    box-shadow: 6px 6px 6px rgb(240, 141, 141) ;
    text-transform: uppercase;
    font-family:'Zen Kurenaido', sans-serif;
    text-align: center;
    font-size: 30px;
    text-shadow: 1px 1px 1px rgb(190, 189, 189) ;

}
.part{
    margin-top: 30px;
    display: flex;
    column-gap: 20px;
    position: relative;
    left: 200px;

}
.smon{
    height: 200px;
    width: 270px;
    padding: 0px  12px;
    box-shadow: 0px 3px 3px rgb(39, 39, 39);
    margin-bottom: 8px;
    margin-right: 12px;
    margin-left: 12px;
    margin-top: 12px;
}
.part img{
    text-align: center;
    height: 60px;
    width: 60px;
    position: relative;
    left: 90px;
}
.part h3{
    position: relative;
    left: 50px;
}
.part p{
    margin-left: 10px;
}
#chat , #mail{
    position: relative;
    left: 80px;
}
section > a{
    text-decoration: none;
    color: black;
}
#read {
     margin-bottom:5px;
     padding: 0 25px;
    }
#read p {
    display:none;
}
#read .show {
    display:block;
}
#read:target .show {
    display:none;
}
#read .hide {
    display:none;
}
#read:target .hide {
    display:block;
}
#read:target p {
    display:block;
}
div > img{
    width: 300px;
    height: 200px;
    border-radius: 5px;

}
#hotel-images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-gap: 14px;
    margin-left: 40px ;
   /* margin-top: 10px;*/
    padding: 10px 1%;
}
.tsawr{
    box-shadow: 4px 4px 4px gray;
    box-sizing: border-box;
}
.tsawr:hover{
    animation: zoom 2s forwards;
    opacity: 0.85;
}
@keyframes zoom {
    0%{
         transform: scale(1);
         box-shadow: 0 2px 5px  rgb(32, 31, 31);
    }
    100%{
             transform: scale(1.1);
    }
}
.part3{
    background-color: rgb(211, 250, 237);
    margin: 0;
    padding: 0 3%;
}
#part3{
    background-color: rgb(211, 250, 237);
    padding: 0 3%;
}
#ksar{
    background: url("https://www.guideddesertmorocco.com/photos/full-day-trip-to-ait-ben-haddou-kasbah-from-marrakech/03.jpg") no-repeat;
    background-size: cover;

}
#mosque{
    background: url("https://cdn.kimkim.com/files/a/content_articles/featured_photos/2354726ae194e7c9a72aecdb33b9a4ab13632a72/big-95add73b59cf5760a22ce89bb335c76d.jpg ") no-repeat;
    background-size: cover;

}
#kasbah{
    background: url("https://img.peapix.com/d604eaec76784eaca6559e2a38b5f716_480.jpg") no-repeat;
    background-size: cover;

}
#valle{
    background: url("https://www.journaldutrek.com/upload/fa/faate-des-roses-a-kazanlak-554/faate-des-roses-a-kazanlak-554.jpg")  no-repeat;
    background-size: cover;

}
#montagne{
    background: url("https://media-cdn.tripadvisor.com/media/photo-s/06/1a/c5/88/kasbah-ait-arbi.jpg") no-repeat;
    background-size: cover;
}
#decouvrir li{
    list-style-type: none;
    margin: 40px 0px 60px 60px;
    height: 350px;
    width: 56%;    
    max-width: 600px;
    float: left;
    box-shadow: 6px 6px 28px -1px  rgb(32, 31, 31);
}
#decouvrir  p{
    width: 245px;
    height: 45px;
    color: rgb(53, 53, 36);
    padding-left: 20px;
    padding-top: 8px;
    font-family: fantasy;
    text-shadow: 2px 2px 2px rgb(247, 215, 215) ;
    box-shadow: 0px 1px 2px 3px  rgb(32, 31, 31);
    border-radius: 5px;
    background: linear-gradient(45deg , rgb(215, 248, 215) , rgb(71, 68, 68) );
    position: relative;
    top: 30%;
    right: 20%;
}
#decouvrir  p:hover{
    background: linear-gradient(45deg , rgb(128, 243, 128) , rgb(158, 174, 245) );
    color: black;
    text-shadow: 2px 2px 2px rgb(238, 221, 221) ;
    box-shadow: 0px 1px 2px 3px  rgb(75, 72, 72);
}
#decouvrir #mosque, #decouvrir #montagne{
    float: right;
}
#ksar p, #kasbah p, #valle p{
    background: linear-gradient(45deg , rgb(235, 153, 153) , rgb(146, 151, 148) );
    position: relative;
    top: 30%;
    left: 80%;
}
#part4{
    background: linear-gradient(to right, rgb(236, 231, 231) , rgb(70, 69, 69) );
    position: relative;
    top: 2200px;
    text-align: center;
    height: 520px;
    
}
#contact{
    color: rgb(41, 41, 38);
    font-family:'Zen Kurenaido', sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    position: relative;
    right: 400px;
    text-shadow: 1px 1px 1px rgb(248, 238, 238) ;
}
.formul{
    width: 700px;
    position: relative;
    left: 360px;
    top: -350px;
}
.input-label{
    margin-top: 20px;
    margin-left: 56px;
    text-align: justify;
}
.item{
    width: 500px;
    height: 20px;
    background-color: rgb(206, 206, 253) ;
    border: none transparent;
    outline: none;
    border-bottom: 1px solid black;
    color: rgb(88, 84, 84);
}
textarea:hover{
    height: 70px;
}
.item:focus{
    background-color: rgb(188, 197, 201) ;
  }
  .item:focus:required{
    background-color: rgb(253, 206, 208);
  }
  .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 6px;
    width: 100px;
    height: 40px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  .button:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
  }
  
  .button:hover{
    padding-right: 10px;
    background-color: #f1b7a6 ;
    color: #f53900;
    font-size: 12px;
  }
  
  .button:hover :after {
    opacity: 1;
    right: 0;
  }
.social-icons{
    display: grid;
    grid-template-columns: auto  ; 
    grid-gap: 50px;
    justify-content: space-between;
    position: relative;
    top: -750px;
    right: 700px;
}
a > img{
    width: 30px;
    height: 30px;
}
a > img:hover{
    animation: scal 1s forwards;

}
.fonts{
    box-shadow: 0px 1px 2px 3px  rgb(240, 233, 233);
    padding: 3px;
    width: 30px;
    height: 30px;

}
i:hover{
    animation: scal 1s forwards;
}
@keyframes scal {
    0%{
         transform: scale(1);
    }
    100%{
             transform: scale(2);
    }
}
#prese{
    position: relative;
    top: -3px;
}
.buton{
    color: blanchedalmond;
    background-color: #f4511e;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    position: relative;
    top: -18%;
    right: 0.5%;
}
.buton:hover{
   /* background-color: #f1b7a6 ;*/
    background: radial-gradient( circle at top left, rgb(27, 27, 26) , rgb(0, 0, 0) );
    color: #f8f6f6;
    font-weight: bolder;
    font-size: 12px;
  }

#decouvrir #buton1, #decouvrir #buton2{
    position: relative;
    float: right;
    left: 2px;
}







